.affairs {
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(69, 163, 234, 0.51);
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
    color: aliceblue;
}

.affair {
    font-size: 17px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.name {
    margin: 8px;
    font-size: 18px;
}

.priority {
    font-style: italic;
    font-weight: bold;
}
.high {
    color: #721515;
}
.middle {
    color: #4d0aa6;
}
.low {
    color: #296915;
}

.buttonDelete {
    font-size: 12px;
    font-weight: bold;
    color: snow;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px;
    background-color: rgba(187, 86, 227, 0.91);
    border: 1px solid #dc9fdb;
    border-radius: 10px;
}

.buttonDelete:hover {
    background-color: #dc9fdb;
}

.btn {
    color: snow;
    margin: 20px 35px;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 30px;
    background-color: #8332e8;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #dc9fdb;
}

.active {
    background-color: rgb(68, 66, 208);
}