.select {
    margin: 10px;
    width: 100px;
    height: 30px;
    padding-left: 7px;
    font-size: 16px;
    color: #160128;
    background-color: rgba(102, 204, 255, 0.73);
    font-style: italic;
    border: 2px solid midnightblue;
}

.selectItem {
    color: #160128;
    background-color: rgba(102, 204, 255, 0.73);
}
