.blue {
    border-bottom: 5px solid blue;
}

.column {
    background-color: #73c4e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testSpanError {
    color: blue;
}