.greeting {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(69, 163, 234, 0.6);
    font-size: 16px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    align-items: center;
}

.error {
    color: #d30101;
    font-size: 18px;
    font-weight: bold;
}

.inputError {
    border: 2px solid red;
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: #d30101;
}

.input {
    border: 3px solid midnightblue;
    color: midnightblue;
    width: 200px;
    height: 30px;
    font-size: 16px;
}

.btn {
    color: snow;
    margin: 20px 35px;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 30px;
    background-color: #8332e8;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #dc9fdb;
}

.countUsers {
    font-weight: bold;
    border: 1px solid #dc9fdb;
    border-radius: 30px;
    background-color: rgb(68, 66, 208);
    width: 70px;
    height: 30px;
    text-align: center;
}